doctype html
html(lang="en")
  head
    title Unsplash Instant
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Unofficial Unsplash extension for Google Chrome")
    meta(name="author" content="Logan McAnsh")
    meta(name="robots" content="index, follow")
    link(href="css/unsplash.css" rel="stylesheet")
  body
    header
      #logo
        include img/unsplash.svg
        
      a#download(download href="")
        span Download
        
    main
        
        
    script(src='js/unsplash.min.js')
    
            
        
        
        
