@import "normalize"
@import "bourbon"
@import "systemfonts"

*
  margin: 0
  box-sizing: border-box

$like: #f15151

body
  width: 100vw
  height: 100vh
  font-family: $font

input
  font-family: $font

main
  height: 100vh
  width: 100vw
  background:
    color: #111
    position: center
    size: cover

a
  text-decoration: none

header
  height: 4em
  padding: 0 20px
  display: flex
  flex-direction: row
  align-items: center
  position: absolute
  top: 0
  left: 0
  right: 0
#logo
  flex-grow: 1
  &:hover
    svg g g
      fill: white
  svg
    +size(32px)
    g g
      fill: rgba(white, 0.8)
      transition: 300ms all ease-in-out
.button
  text-transform: uppercase
  display: flex
  justify-content: center
  align-items: center
  background: rgba(white, 0.8)
  box-shadow: 0 1px 1px rgba(black, 0.04)
  color: #777
  transition: 300ms all ease-in-out
  border: 1px solid transparent
  border-radius: 6px
  max-height: 32px
  padding: 8.5px 10px
  margin-right: 10px
  font:
    size: 11px
    weight: 700
  svg
    +size(15px)
    fill: #777
    &.icon-btn--like
      fill: $like
      +size(15px)
      margin-right: 5px
    .icon-btn--dots
  &:hover
    background: white
  &:last-of-type
    margin-right: 0px

#download
  span
    display: block
  svg
    display: none
  @media (max-width: 770px)
    span
      display: none
    svg
      display: block


#like.liked
  background: $like
  color: white
  svg
    fill: white

.popover
  position: absolute
  top: 4em
  right: 20px
  border-radius: 3px
  padding: 15px 20px
  text-align: right
  background: rgba(black,0.9)
  color: white
  opacity: 0
  visibility: hidden
  transition: 300ms all cubic-bezier(0, 3.16, 0.58, 1), opacity 100ms ease-in-out
  transform: scale3d(0.8,0.8,0.8)
  pointer-events: none
  &.is-visible
    pointer-events: auto
    opacity: 1
    visibility: visible
    transform: scale3d(1,1,1)
  &::before
    position: absolute
    top: -5px
    background: rgba(black,0.9)
    right: 15px
    +size(10px)
    transform: rotate(45deg)
    content: ''
  ul
    list-style: none
    padding-left: 0
    padding: 4px 3px 5px
    font-size: 14px
    li
      margin-bottom: 15px
      &:last-of-type
        margin-bottom: 0
    a
      color: white
      transition: 300ms all ease-in-out
      display: block
      &:hover
        color: #999

footer
  height: 4em
  display: flex
  align-items: center
  position: absolute
  padding: 0 20px
  bottom: 0
  left: 0
  right: 0
  font-family: Courier, monospace
  #profile
    border-radius: 50%
    +size(32px)
    margin-right: 10px
    background:
      size: cover
      position: center

  #name, #location
    color: white
    display: block

  #location
    font-size: 11px
    margin-top: 5px

  .settings
    flex-grow: 1
    text-align: right
    .button
      display: inline-block

#modal
  visibility: hidden
  opacity: 0
  display: none
  pointer-events: none
  transform: scale3d(0.7, 0.7, 1)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 5
  transition: 300ms all ease-in-out
  display: flex
  justify-content: center
  align-items: center
  .wrap
    height: 30vh
    width: 70vw
    background: white
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    button#close
      +size(30px)
      background: $like
      padding: 0
      margin: 0
      position: relative
      border: none
      &:focus, &:hover
        outline: none
      &::before, &::after
        content: ''
        width: 100%
        height: 2px
        background: black
        transition: 300ms all ease-in-out
      &::before
        transform: rotate(45deg)
      &::after
        transform: rotate(-45deg)

  &.active
    visibility: visible
    opacity: 1
    pointer-events: auto
    display: flex
    transform: scale3d(1, 1, 1)
    background: rgba(black, 0.8)
    @supports (-webkit-backdrop-filter: none) and (backdrop-filter: none)
      -webkit-backdrop-filter: blur(10px)
      backdrop-filter: blur(10px)
      background: rgba(black, 0.4)


input
  outline: none
  appearance: none
  border: 1px solid black
  border-radius: 4px
  padding: 10px 15px
  max-width: 400px
  width: 50%
  margin: 20px 0
  background: none
  transition: 300ms all ease-in-out
  &::placeholder
    color: rgba(black, 0.35)
  &:focus
    box-shadow: 0px 0px 6px 0px $like
    border-color: $like
    &::placeholder
      color: transparent
  &[type=submit]:hover
    background: black
    color: white
    cursor: pointer
