doctype html
html(lang="en")
  head
    title Unsplash Instant
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Unofficial Unsplash extension for Google Chrome")
    meta(name="author" content="Logan McAnsh")
    meta(name="robots" content="index, follow")
    link(href="css/unsplash.css" rel="stylesheet")
    link(rel="shortcut icon" href="img/icons/icon32.png" sizes="32x32")
    link(rel="apple-touch-icon-precomposed" sizes="228x228" href="img/icons/icon228.png")
    link(rel="apple-touch-icon-precomposed" sizes="195x195" href="img/icons/icon195.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="img/icons/icon152.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icons/icon144.png")
    link(rel="apple-touch-icon-precomposed" sizes="128x128" href="img/icons/icon128.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="img/icons/icon120.png")
    link(rel="apple-touch-icon-precomposed" sizes="96x96" href="img/icons/icon96.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/icon72.png")
    link(rel="apple-touch-icon-precomposed" href="img/icons/icon57.png")
  body
    header
      a#logo(href="https://unsplash.com")
        include img/unsplash.svg
        
      a#download(download href="")
        span Download
        
    main
    
    footer
      #profile(style="background-image: url()")
      .user-info
        a#name(href="") Name
        a#location(href="") Location
        
    script(src='js/unsplash.min.js')
