doctype html
html(lang="en")
  head
    title Unsplash Instant
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Unofficial Unsplash extension for Google Chrome based on the Offical extension but with added features")
    link(type="text/plain" rel="author" href="/humans.txt")
    link(rel="stylesheet" href="./assets/css/unsplash.css")
    link(rel="shortcut icon" href="./assets/img/icons/icon32.png" sizes="32x32")

    // Apple Specific Icons
    link(rel="apple-touch-icon-precomposed" sizes="228x228" href="./assets/img/icons/icon228.png")
    link(rel="apple-touch-icon-precomposed" sizes="195x195" href="./assets/img/icons/icon195.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="./assets/img/icons/icon152.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/img/icons/icon144.png")
    link(rel="apple-touch-icon-precomposed" sizes="128x128" href="./assets/img/icons/icon128.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="./assets/img/icons/icon120.png")
    link(rel="apple-touch-icon-precomposed" sizes="96x96" href="./assets/img/icons/icon96.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/img/icons/icon72.png")
    link(rel="apple-touch-icon-precomposed" href="./assets/img/icons/icon57.png")

    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Unsplash Instant")
    meta(name="twitter:description" content="Unsplash New Tab by @logansmcansh")
    meta(name="twitter:image" content="./assets/img/icons/icon228.png")
  body
    div(style="height:0;width:0;position:absolute;visibility:hidden")
      include ./assets/img/sprite.svg
    header
      #logo
        a(href="https://unsplash.com")
          svg
            use(xlink:href="#unsplash")

      a.button#like(href="")
        svg.icon-btn--like
          use(xlink:href="#like-icon")
        span
      //- a.button#add(href="#")
        svg
          use(xlink:href="#plus")
      //- .popover#collections
        ul
      a.button#download(download href="")
        svg
          use(xlink:href="#download")
        span Download
      a.button#more(href="")
        svg
          use(xlink:href="#elipsis")
      .popover
        ul
          li: a(href="https://github.com/mcansh/unsplash-new-tab" target="_blank") View Project on GitHub
          li: a(href="https://unsplash.com" target="_blank") Checkout Unsplash
          li: a#view(href="" target="_blank") View Photo on Unsplash
          li: a#login(href="") Login

    main

    footer
      #profile(style="background-image: url()")
      .user-info
        a#name(href="")
        a#location(href="")

      .settings
        //- a.button#settings(href="#")
          span Filter
        //- .popover
          h4 Filter the photos you see
          label(for="user") Username
          input#user(type="text" placeholder="Ex: mcansh")
          label(for="query") Query
          input#query(type="text" placeholder="Ex: coffee")
          input#save(type="submit" value="Save")
        a.button.not-a-button#exif
          svg
            use(xlink:href="#info")
        .popover
          ul
            h4 Photo Information
            li.make.model
            li.res
            li.downloads

    script(async src='./assets/js/bundle.min.js')
