doctype html
html(lang="en")
  head
    title Unsplash Instant
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Unofficial Unsplash extension for Google Chrome based on the Offical extension but with added features")
    meta(name="author" content="Logan McAnsh")
    link(rel="stylesheet" href="css/unsplash.css")
    link(rel="shortcut icon" href="img/icons/icon32.png" sizes="32x32")

    // Apple Specific Icons
    link(rel="apple-touch-icon-precomposed" sizes="228x228" href="img/icons/icon228.png")
    link(rel="apple-touch-icon-precomposed" sizes="195x195" href="img/icons/icon195.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="img/icons/icon152.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icons/icon144.png")
    link(rel="apple-touch-icon-precomposed" sizes="128x128" href="img/icons/icon128.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="img/icons/icon120.png")
    link(rel="apple-touch-icon-precomposed" sizes="96x96" href="img/icons/icon96.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/icon72.png")
    link(rel="apple-touch-icon-precomposed" href="img/icons/icon57.png")

    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Unsplash Instant")
    meta(name="twitter:description" content="Unsplash New Tab by @logansmcansh")
    meta(name="twitter:image" content="img/icons/icon228.png")
  body
    header
      #logo
        a(href="https://unsplash.com")
          svg
            use(xlink:href="/img/sprite.svg#unsplash")

      a.button#like(href="#")
        svg.icon-btn--like
          use(xlink:href="/img/sprite.svg#like-icon")
        span
      a.button#add(href="#")
        svg
          use(xlink:href="/img/sprite.svg#plus")
      a.button#download(download href="")
        svg
          use(xlink:href="/img/sprite.svg#download")
        span Download
      a.button#more(href="#")
        svg
          use(xlink:href="/img/sprite.svg#elipsis")
      .popover
        ul
          li: a(href="https://github.com/mcansh/unsplash-new-tab" target="_blank") View Project on GitHub
          li: a(href="https://unsplash.com" target="_blank") Checkout Unsplash
          li: a#view(href="" target="_blank") View Photo on Unsplash
          li: a#login(href="") Login

    main

    footer
      #profile(style="background-image: url()")
      .user-info
        a#name(href="")
        a#location(href="")

      .settings
        a.button#settings(href="#")
          span Filter
        .popover
          h4 Filter the photos you see
          input#query(type="text" placeholder="Ex: coffee")
          input#save(type="submit" value="Save")
        a.button#exif(href="#")
          svg
            use(xlink:href="/img/sprite.svg#elipsis")
        .popover
          ul
            h4 Photo Information
            li.make.model
            li.res

    //- script(async src="https://cdn.polyfill.io/v2/polyfill.min.js")
    script(async src='js/bundle.min.js')
